## This script contains the following points:

### 1. Import the data and libraries
### 2. Create new columns
### 3. Merge data with county list
### 4. Create additional columns
### 5. Export new dataframe

## 1. Import the data and libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Assign project folder path to a variable

path = r'C:\Users\jomok\Documents\Career Foundry\Achievement 6\09-2023 FHL Bank Data Analysis'

In [3]:
# Import data

df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'FHL_bank_data_combined.pkl'))

In [4]:
# Check output
#
df.head()

,Year,LoanCharacteristicsID,State Code,County Code,Total Monthly Income Amount,Loan Purpose Type,Mortgage Type Code,Borrower Count,First Time Homebuyer Indicator,Borrower 1 Race Type,...,Property Usage Type,Property Unit Count,Note Rate Percent,Note Amount,Total Debt Expense Ratio Percent,Borrower 1 Credit Score Value,Borrower 2 Credit Score Value,Property Type Code,Borrower 1 Ethnicity Type,Borrower 2 Ethnicity Type
0,2019,2407198,50,7,7308,1,1,1,1,5,...,1,1,4.000,319113,40.46,1,9,PT01,2,5
1,2019,2407199,50,7,7416,1,1,2,0,5,...,1,1,4.250,248005,45.67,3,2,PT01,2,2
2,2019,2407200,50,15,5143,1,1,2,0,5,...,1,1,4.250,211105,46.23,2,3,PT01,2,2
3,2019,2407201,50,17,8866,1,2,2,0,5,...,1,1,4.875,210000,36.88,4,2,PT01,2,2
4,2019,2407202,23,31,15240,1,0,1,1,5,...,1,1,4.625,233200,34.95,5,9,PT01,2,5

In [5]:
#Check shape

df.shape

(101205, 25)

## 2. Create new columns

In [6]:
# Assign Loan Purpose Type values using data dictionary

df.loc[df['Loan Purpose Type'] == '1', 'Loan Purpose'] = 'Purchase'
df.loc[df['Loan Purpose Type'] == '2', 'Loan Purpose'] = 'No Cash Out Refinancing'
df.loc[df['Loan Purpose Type'] == '3', 'Loan Purpose'] = 'Second Mortgage'
df.loc[df['Loan Purpose Type'] == '4', 'Loan Purpose'] = 'New Construction'
df.loc[df['Loan Purpose Type'] == '5', 'Loan Purpose'] = 'Rehabilitation or Home Improvement'
df.loc[df['Loan Purpose Type'] == '6', 'Loan Purpose'] = 'Cash-out Refinancing'
df.loc[df['Loan Purpose Type'] == '7', 'Loan Purpose'] = 'Other'

In [7]:
# Check frequency

df['Loan Purpose'].value_counts(dropna = False)

Purchase    101205
Name: Loan Purpose, dtype: int64

In [8]:
# Assign Mortgage Type Code values using data dictionary

df.loc[df['Mortgage Type Code'] == '0', 'Mortgage Type'] = 'Conventional'
df.loc[df['Mortgage Type Code'] == '1', 'Mortgage Type'] = 'FHA'
df.loc[df['Mortgage Type Code'] == '2', 'Mortgage Type'] = 'VA'
df.loc[df['Mortgage Type Code'] == '3', 'Mortgage Type'] = 'USDA Rural Housing-FSA Guaranteed'
df.loc[df['Mortgage Type Code'] == '4', 'Mortgage Type'] = 'HECMs'
df.loc[df['Mortgage Type Code'] == '5', 'Mortgage Type'] = 'Title1-FHA'

In [9]:
# Check frequency

df['Mortgage Type'].value_counts(dropna = False)

Conventional                         91617
USDA Rural Housing-FSA Guaranteed     4213
FHA                                   3014
VA                                    2361
Name: Mortgage Type, dtype: int64

In [10]:
# Assign First Time Homebuyer Indicator values using data dictionary

df.loc[df['First Time Homebuyer Indicator'] == '0', 'First Time Homebuyer'] = 'No'
df.loc[df['First Time Homebuyer Indicator'] == '1', 'First Time Homebuyer'] = 'Yes'

In [11]:
# Check frequency

df['First Time Homebuyer'].value_counts(dropna = False)

No     61711
Yes    39494
Name: First Time Homebuyer, dtype: int64

In [12]:
# Assign Borrower 1 Race Type values using data dictionary

df.loc[df['Borrower 1 Race Type'] == '1', 'Borrower 1 Race'] = 'American Indian or Alaska Native'
df.loc[df['Borrower 1 Race Type'] == '2', 'Borrower 1 Race'] = 'Asian'
df.loc[df['Borrower 1 Race Type'] == '3', 'Borrower 1 Race'] = 'Black or African American'
df.loc[df['Borrower 1 Race Type'] == '4', 'Borrower 1 Race'] = 'Native Hawaiian or other Pacific Islander'
df.loc[df['Borrower 1 Race Type'] == '5', 'Borrower 1 Race'] = 'White'
df.loc[df['Borrower 1 Race Type'] == '6', 'Borrower 1 Race'] = 'Unknown'
df.loc[df['Borrower 1 Race Type'] == '7', 'Borrower 1 Race'] = 'Not Applicable - first or primary borrower is an institution, corporation or partnership'

In [13]:
# Check frequency

df['Borrower 1 Race'].value_counts(dropna = False)

White                                        87257
Unknown                                       7299
Asian                                         3308
Black or African American                     2313
American Indian or Alaska Native               918
Native Hawaiian or other Pacific Islander      110
Name: Borrower 1 Race, dtype: int64

In [14]:
# Assign Borrower 2 Race Type values using data dictionary

df.loc[df['Borrower 2 Race Type'] == '1', 'Borrower 2 Race'] = 'American Indian or Alaska Native'
df.loc[df['Borrower 2 Race Type'] == '2', 'Borrower 2 Race'] = 'Asian'
df.loc[df['Borrower 2 Race Type'] == '3', 'Borrower 2 Race'] = 'Black or African American'
df.loc[df['Borrower 2 Race Type'] == '4', 'Borrower 2 Race'] = 'Native Hawaiian or other Pacific Islander'
df.loc[df['Borrower 2 Race Type'] == '5', 'Borrower 2 Race'] = 'White'
df.loc[df['Borrower 2 Race Type'] == '6', 'Borrower 2 Race'] = 'Information not provided by Borrower'
df.loc[df['Borrower 2 Race Type'] == '7', 'Borrower 2 Race'] = 'Not Applicable - first or primary borrower is an institution, corporation or partnership'
df.loc[df['Borrower 2 Race Type'] == '8', 'Borrower 2 Race'] = 'No Co-Borrower'

In [15]:
# Check frequency

df['Borrower 2 Race'].value_counts(dropna = False)

White                                                                                       46943
No Co-Borrower                                                                              46900
Information not provided by Borrower                                                         4468
Asian                                                                                        1684
Black or African American                                                                     879
American Indian or Alaska Native                                                              279
Native Hawaiian or other Pacific Islander                                                      51
Not Applicable - first or primary borrower is an institution, corporation or partnership        1
Name: Borrower 2 Race, dtype: int64

In [16]:
# Assign Borrower 1 Gender Type values using data dictionary

df.loc[df['Borrower 1 Gender Type'] == '1', 'Borrower 1 Gender'] = 'Male'
df.loc[df['Borrower 1 Gender Type'] == '2', 'Borrower 1 Gender'] = 'Female'
df.loc[df['Borrower 1 Gender Type'] == '3', 'Borrower 1 Gender'] = 'Unknown'
df.loc[df['Borrower 1 Gender Type'] == '4', 'Borrower 1 Gender'] = 'Not Applicable - first or primary borrower is an institution, corporation or partnership'
df.loc[df['Borrower 1 Gender Type'] == '6', 'Borrower 1 Gender'] = 'Unknown'

In [17]:
# Check frequency

df['Borrower 1 Gender'].value_counts(dropna = False)

Male       65493
Female     31889
Unknown     3823
Name: Borrower 1 Gender, dtype: int64

In [18]:
# Assign Borrower 2 Gender Type values using data dictionary

df.loc[df['Borrower 2 Gender Type'] == '1', 'Borrower 2 Gender'] = 'Male'
df.loc[df['Borrower 2 Gender Type'] == '2', 'Borrower 2 Gender'] = 'Female'
df.loc[df['Borrower 2 Gender Type'] == '3', 'Borrower 2 Gender'] = 'Unknown'
df.loc[df['Borrower 2 Gender Type'] == '4', 'Borrower 2 Gender'] = 'No Co-Borrower'
df.loc[df['Borrower 2 Gender Type'] == '5', 'Borrower 2 Gender'] = 'Not Applicable - first or primary borrower is an institution, corporation or partnership'
df.loc[df['Borrower 2 Gender Type'] == '6', 'Borrower 2 Gender'] = 'Unknown'

In [19]:
# Check frequency

df['Borrower 2 Gender'].value_counts(dropna = False)

No Co-Borrower    46898
Female            38090
Male              13770
Unknown            2447
Name: Borrower 2 Gender, dtype: int64

In [20]:
# Assign Property Usage Type values using data dictionary

df.loc[df['Property Usage Type'] == '1', 'Property Usage'] = 'Principal Residence'
df.loc[df['Property Usage Type'] == '2', 'Property Usage'] = 'Second Home'
df.loc[df['Property Usage Type'] == '3', 'Property Usage'] = 'Investment Property'

In [21]:
# Check frequency

df['Property Usage'].value_counts(dropna = False)

Principal Residence    95007
Second Home             6198
Name: Property Usage, dtype: int64

In [22]:
# Assign Property Type Code values using data dictionary

df.loc[df['Property Type Code'] == 'PT01', 'Property Type'] = 'Single family detached'
df.loc[df['Property Type Code'] == 'PT02', 'Property Type'] = 'Deminimus PUD'
df.loc[df['Property Type Code'] == 'PT03', 'Property Type'] = 'Single family attached'
df.loc[df['Property Type Code'] == 'PT04', 'Property Type'] = 'Two family'
df.loc[df['Property Type Code'] == 'PT05', 'Property Type'] = 'Townhouse'
df.loc[df['Property Type Code'] == 'PT06', 'Property Type'] = 'Low-rise condo'
df.loc[df['Property Type Code'] == 'PT07', 'Property Type'] = 'PUD'
df.loc[df['Property Type Code'] == 'PT08', 'Property Type'] = 'Duplex'
df.loc[df['Property Type Code'] == 'PT09', 'Property Type'] = 'Three family'
df.loc[df['Property Type Code'] == 'PT10', 'Property Type'] = 'Four family'
df.loc[df['Property Type Code'] == 'PT11', 'Property Type'] = 'Hi-res condo'
df.loc[df['Property Type Code'] == 'PT12', 'Property Type'] = 'Manufactured home not chattel'
df.loc[df['Property Type Code'] == 'PT13', 'Property Type'] = 'Manufactured home chattel'
df.loc[df['Property Type Code'] == 'PT13', 'Property Type'] = 'Five plus multifamily'

In [23]:
# Check frequency

df['Property Type'].value_counts(dropna = False)

Single family detached           76798
PUD                              16216
Low-rise condo                    6445
Two family                         675
Single family attached             347
Manufactured home not chattel      290
Townhouse                          242
Hi-res condo                       110
Three family                        44
Four family                         16
Deminimus PUD                       12
Duplex                              10
Name: Property Type, dtype: int64

In [24]:
# Check output

df.head()

,Year,LoanCharacteristicsID,State Code,County Code,Total Monthly Income Amount,Loan Purpose Type,Mortgage Type Code,Borrower Count,First Time Homebuyer Indicator,Borrower 1 Race Type,...,Borrower 2 Ethnicity Type,Loan Purpose,Mortgage Type,First Time Homebuyer,Borrower 1 Race,Borrower 2 Race,Borrower 1 Gender,Borrower 2 Gender,Property Usage,Property Type
0,2019,2407198,50,7,7308,1,1,1,1,5,...,5,Purchase,FHA,Yes,White,No Co-Borrower,Female,No Co-Borrower,Principal Residence,Single family detached
1,2019,2407199,50,7,7416,1,1,2,0,5,...,2,Purchase,FHA,No,White,White,Female,Male,Principal Residence,Single family detached
2,2019,2407200,50,15,5143,1,1,2,0,5,...,2,Purchase,FHA,No,White,White,Male,Female,Principal Residence,Single family detached
3,2019,2407201,50,17,8866,1,2,2,0,5,...,2,Purchase,VA,No,White,White,Male,Female,Principal Residence,Single family detached
4,2019,2407202,23,31,15240,1,0,1,1,5,...,5,Purchase,Conventional,Yes,White,No Co-Borrower,Female,No Co-Borrower,Principal Residence,Single family detached

In [25]:
# Check shape

df.shape

(101205, 34)

## 3. Merge data with County List

In [26]:
# Import data

df_county = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'FIPS County Codes List.csv'), index_col = False)

In [27]:
# Check output

df_county.head()

   County Code   County  State Code    State
0            1  Autauga           1  Alabama
1            3  Baldwin           1  Alabama
2            5  Barbour           1  Alabama
3            7     Bibb           1  Alabama
4            9   Blount           1  Alabama

In [28]:
# Check shape

df_county.shape

(3142, 4)

In [29]:
# Convert data types from numeric to string

df_county['County Code'] = df_county['County Code'].astype('str')
df_county['State Code'] = df_county['State Code'].astype('str')

In [30]:
# Merge data

df_merged = df_county.merge(df, on = ['County Code', 'State Code'], how = 'right', indicator = True)

In [31]:
# Check shape

df_merged.shape

(101205, 37)

In [32]:
# Check merge flag frequency

df_merged['_merge'].value_counts()

both          101202
right_only         3
left_only          0
Name: _merge, dtype: int64

In [33]:
# Drop extra columns in df_merged dataframe

df_merged = df_merged.drop(columns = ['_merge', 'County Code', 'Property Usage Type', 'Property Type Code', 'First Time Homebuyer Indicator', 'Loan Purpose Type', 'Mortgage Type Code', 'Borrower 2 Race Type', 'Borrower 1 Gender Type', 'Borrower 2 Gender Type', 'Borrower 1 Ethnicity Type','Borrower 2 Ethnicity Type'])

In [34]:
# Check Output

df_merged.head()

,County,State Code,State,Year,LoanCharacteristicsID,Total Monthly Income Amount,Borrower Count,Borrower 1 Race Type,Borrower 1 Age,Borrower 2 Age,...,Borrower 2 Credit Score Value,Loan Purpose,Mortgage Type,First Time Homebuyer,Borrower 1 Race,Borrower 2 Race,Borrower 1 Gender,Borrower 2 Gender,Property Usage,Property Type
0,Chittenden,50,Vermont,2019,2407198,7308,1,5,34.0,44.0,...,9,Purchase,FHA,Yes,White,No Co-Borrower,Female,No Co-Borrower,Principal Residence,Single family detached
1,Chittenden,50,Vermont,2019,2407199,7416,2,5,36.0,33.0,...,2,Purchase,FHA,No,White,White,Female,Male,Principal Residence,Single family detached
2,Lamoille,50,Vermont,2019,2407200,5143,2,5,34.0,36.0,...,3,Purchase,FHA,No,White,White,Male,Female,Principal Residence,Single family detached
3,Orange,50,Vermont,2019,2407201,8866,2,5,42.0,43.0,...,2,Purchase,VA,No,White,White,Male,Female,Principal Residence,Single family detached
4,York,23,Maine,2019,2407202,15240,1,5,66.0,44.0,...,9,Purchase,Conventional,Yes,White,No Co-Borrower,Female,No Co-Borrower,Principal Residence,Single family detached

## 4. Create additional columns

In [35]:
# Add loan count column

df_merged['Loan Count'] = df_merged.groupby('LoanCharacteristicsID')['LoanCharacteristicsID'].transform('count')

In [36]:
# Assign Monthly Income Range

df_merged.loc[df_merged['Total Monthly Income Amount'] < 5000, 'Monthly Income Range'] = '<5,000'
df_merged.loc[(df_merged['Total Monthly Income Amount'] >= 5000) & (df_merged['Total Monthly Income Amount'] < 500000), 'Monthly Income Range'] = '5,000 - 11,999'
df_merged.loc[df_merged['Total Monthly Income Amount'] >= 12000, 'Monthly Income Range'] = '12,000+'

In [37]:
# Check frequency

df_merged['Monthly Income Range'].value_counts(dropna = False)

5,000 - 11,999    54361
<5,000            23834
12,000+           23010
Name: Monthly Income Range, dtype: int64

In [38]:
# Assign Age Range

df_merged.loc[df_merged['Borrower 1 Age'] < 5000, 'Age Range'] = 'Under 35'
df_merged.loc[(df_merged['Borrower 1 Age'] >= 35) & (df_merged['Borrower 1 Age'] < 45), 'Age Range'] = '35 - 44'
df_merged.loc[(df_merged['Borrower 1 Age'] >= 45) & (df_merged['Borrower 1 Age'] < 55), 'Age Range'] = '45 - 54'
df_merged.loc[(df_merged['Borrower 1 Age'] >= 55) & (df_merged['Borrower 1 Age'] < 65), 'Age Range'] = '55 - 64'
df_merged.loc[df_merged['Borrower 1 Age'] >= 65, 'Age Range'] = '65+'

In [39]:
# Check frequency

df_merged['Age Range'].value_counts(dropna = False)

Under 35    41261
35 - 44     25544
45 - 54     15829
55 - 64     11669
65+          6902
Name: Age Range, dtype: int64

In [40]:
# Assign Note Rate Percent Range

df_merged.loc[df_merged['Note Rate Percent'] < 3, 'Note Rate Percent Range'] = 'Less than 3%'
df_merged.loc[(df_merged['Note Rate Percent'] >= 3) & (df_merged['Note Rate Percent'] < 4), 'Note Rate Percent Range'] = '3 - 3.99%'
df_merged.loc[(df_merged['Note Rate Percent'] >= 4) & (df_merged['Note Rate Percent'] < 5), 'Note Rate Percent Range'] = '4 - 4.99%'
df_merged.loc[(df_merged['Note Rate Percent'] >= 5) & (df_merged['Note Rate Percent'] < 6), 'Note Rate Percent Range'] = '5 - 5.99%'
df_merged.loc[df_merged['Note Rate Percent'] >= 6, 'Note Rate Percent Range'] = '6%+'

In [41]:
# Check frequency

df_merged['Note Rate Percent Range'].value_counts(dropna = False)

3 - 3.99%       48225
4 - 4.99%       24894
Less than 3%    15020
5 - 5.99%        9822
6%+              3244
Name: Note Rate Percent Range, dtype: int64

In [42]:
# Check Output

df_merged.head()

,County,State Code,State,Year,LoanCharacteristicsID,Total Monthly Income Amount,Borrower Count,Borrower 1 Race Type,Borrower 1 Age,Borrower 2 Age,...,Borrower 1 Race,Borrower 2 Race,Borrower 1 Gender,Borrower 2 Gender,Property Usage,Property Type,Loan Count,Monthly Income Range,Age Range,Note Rate Percent Range
0,Chittenden,50,Vermont,2019,2407198,7308,1,5,34.0,44.0,...,White,No Co-Borrower,Female,No Co-Borrower,Principal Residence,Single family detached,1,"5,000 - 11,999",Under 35,4 - 4.99%
1,Chittenden,50,Vermont,2019,2407199,7416,2,5,36.0,33.0,...,White,White,Female,Male,Principal Residence,Single family detached,1,"5,000 - 11,999",35 - 44,4 - 4.99%
2,Lamoille,50,Vermont,2019,2407200,5143,2,5,34.0,36.0,...,White,White,Male,Female,Principal Residence,Single family detached,1,"5,000 - 11,999",Under 35,4 - 4.99%
3,Orange,50,Vermont,2019,2407201,8866,2,5,42.0,43.0,...,White,White,Male,Female,Principal Residence,Single family detached,1,"5,000 - 11,999",35 - 44,4 - 4.99%
4,York,23,Maine,2019,2407202,15240,1,5,66.0,44.0,...,White,No Co-Borrower,Female,No Co-Borrower,Principal Residence,Single family detached,1,"12,000+",65+,4 - 4.99%

In [43]:
# Check Shape

df_merged.shape

(101205, 29)

## 5. Export dataframe

In [44]:
# Export merged data as a pickle file

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'FHL_bank_data_merged.pkl'))